{{#if resume.certificates.length}}
  <section class="section">
    <header>
      <h2 class='section-title'>Certifications <span class="item-count">({{resume.certificates.length}})</span></h2>
    </header>

    <section id="certificates">
      {{#each resume.certificates}}
        <section class="certificate-item">
            <header class="clear">
              {{#if name}}
                {{#if url}}
                  <a target="_blank" href="{{url}}">
                    <div class="certificate-name">{{name}}</div>
                  </a>
                {{else}}
                  <div class="certificate-name">{{name}}</div>
                {{/if}}
              {{/if}}
              <div class="issuer">{{issuer}}</div>
              <div class="date">
                  <span class="startDate">
                    {{MY date}}
                  </span>
              </div>
            </header>
        </section>
      {{/each}}
    </section>
  </section>
{{/if}}
